@use "../common";

div.books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--book-min-width), 1fr));
  row-gap: 2.5rem;
  column-gap: 1.5rem;

  > div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    h4 {
      margin: 0;
      margin-top: 0.5rem;
      @include common.fontStyle(1rem, 600, 1.5rem);
      color: var(--header-color);

      &:hover {
        color: var(--primary-color);
        cursor: pointer;
      }
    }

    span {
      &:first-of-type {
        @include common.fontStyle(0.875rem, 500, 1.25rem);
        color: var(--gray-color-500);
      }

      &:last-of-type {
        @include common.fontStyle(1rem, 700, 1.5rem);
        color: var(--primary-color);
      }
    }
  }
}
