:root {
  --primary-color: #4a4aff;
  --second-color: #66b3ff;
  --background-color: #f6f7f8;
  --header-color: #111827;
  --text-color: #4b5563;
  --border-color: #e5e7eb;
  --gray-color-100: #f3f4f6;
  --gray-color-500: #6b7280;
  --white-color: #fff;
}
